@import 'palette';
@import 'standards';

body {
	margin: 0;
	font-family: OpenSansRegular, sans-serif;
	background-color: $black;
	color: $white;
	overflow-y: scroll;
	background-image: url('../img/background.jpg');
	background-attachment: fixed;
	background-position: center top;
	background-repeat: no-repeat;

	@media (max-width: $breakpoint)  {
		background: $black;
	}
}

#header {
	background-image: url('../img/title.png');
	background-position: center top;
	background-repeat: no-repeat;
	background-size: contain;
	height: 82px;
	margin: 8px 0;
}

#wrapper {
	background-color: $dark-blue;
	margin: 0 auto;
	width: 475px;
	min-height: 300px;
	text-align: center;
	padding-bottom: 20px;

	@media (max-width: $breakpoint)  {
		width: 100%;
	}

	&.wrapper-login {
		background-color: $black;
	}

	#home {
		display: block;
	}

	.view {
		position: relative;
		display: none;
	}
}

#gamelist {
	margin-bottom: 30px;
}

#player-table {
	margin: 0 auto 20px;

	td {
		width: 50%;
		padding: 3px 10px;

		&:first-child {
			text-align: right;
		}

		input {
			text-align: left;
			max-width: 80%;
		}
	}
}
