@import 'palette';
@import 'standards';

$breakpoint: 1025px;

body {
	margin: 0;
	font-family: OpenSansRegular, sans-serif;
	background-color: $black;
	color: $white;

	@media (min-width: $breakpoint)  {
		background-image: url('../img/background.jpg');
		background-attachment: fixed;
		background-position: center top;
		background-repeat: no-repeat;
	}
}

#header {
	background-image: url('../img/title.png');
	background-position: center top;
	background-repeat: no-repeat;
	background-size: contain;
	height: 82px;
	margin: 8px 0;
}

#wrapper {
	background-color: $dark-blue;
	margin: 0 auto;
	width: 475px;
	min-height: 300px;
	text-align: center;
	padding-bottom: 20px;

	&.wrapper-login {
		background-color: $black;
	}

	#gamelist {
		display: block;
	}
	
	.view {
		position: relative;
		display: none;
	}

}
